.csNameButton {
  background-color: #e3edfa;
  padding: 10px;
  border-radius: 20px;
  font-size: 14px;
  margin-bottom: 10px;
}
.csNameButton:hover {
  cursor: pointer;
}
.csNameButton:active {
  cursor: pointer;
  background-color: #2eb3ff;
}
.canvas {
  height: 100% !important;
  width: 100% !important;
}
