.view-wrapper {
  width: 60%;
  margin: 0 auto;
}

.view-go-list-btn {
  border: 0;
  padding: 10px;
  background-color: #ffd9d9;
}

.view-row {
  margin: 10px 0;
  display: flex;
}

.view-row > label:first-child {
  margin: 10px 0;
  width: 30%;
  font-weight: bold;
}

.view-row > *:nth-child(2) {
  margin: 10px 0;
  width: 70%;
}
.content {
  align-items: center;
  margin: 0 auto;
  border-style: ridge;
  width: 80%;
  height: 200px;
}
