.boardTitleInputContainer {
  width: 100%;
  margin: '10px';
}
.boardTitleInput {
  display: inline-block;
  width: '100%';
  height: '40px';
}

.boardWriteDoneButton {
  background-color: #b6daff;
  margin: 0 auto;

  align-items: center;
  text-align: right;
  padding: 10px 30px;
  border-radius: 30px;
}
.boardWriteDoneButton:hover {
  cursor: pointer;
}
.boardWriteDoneButton:active {
  cursor: pointer;
  color: #003ca5;
}

.boardWriteContainer {
  align-items: center;
  text-align: center;
  padding-bottom: 50px;
  /* margin-left: 50px; */
  margin: 0 auto;
}
